.HomePage__container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
}
.mySwiper {
  /* z-index: 4; */
  height: 75vh;
  width: 90vw;
  background-color: white;
  border-radius: 50px;
}
.swiper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.iphone-img {
  height: 75vh;
}
.homePage__iphone-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  height: 60vh;
  width: 25vw;
  border-radius: 20px;
  justify-content: center;
}
.homePage__iphone-text p {
  color: rgb(134, 138, 138);
  font-size: 20px;
}
.homePage__iphone-text h3 {
  font-size: 24px;
  color: white;
}
.homePage__iphone-text h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#eee, rgb(116, 160, 211));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.homePage__iphone-text h5 {
  color: rgb(255, 253, 249);
  line-height: 1.5;
  width: 18vw;
  height: 18vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.samsung-img {
  width: 50vw;
  height: 55vh;
  border-radius: 20px;
  padding: 0px 10px 0px 0px;
}
.sam {
  background-color: black;
}
.homePage__samsung-text {
  margin: 0px 0px 80px 60px;
  width: 30vw;
}
.homePage__samsung-text h2 {
  font-size: 52px;
  color: wheat;
}
.homePage__samsung-text h4 {
  font-size: 16px;
  color: rgb(204, 201, 198);
}
.homePage__samsung-text Button {
  border-radius: 20px;
}
.xiaomi__container {
  background-image: url(./image/xiaomi/xiaomi1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.xiaomi__container-text {
  position: relative;
  right: 20vw;
  width: 33vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.xiaomi__container-text h1 {
  color: white;
  font-size: 64px;
}
.xiaomi__container-text h1 span {
  color: rgb(61, 92, 60);
  font-size: 72px;
}
.xiaomi__container-text p {
  color: gray;
  font-size: 18px;
  width: 25vw;
  position: relative;
  bottom: 39px;
}
.xiaomi__container-text Button {
  background-color: black;
  position: relative;
  bottom: 5px;
  color: white;
  width: 5vw;
  height: 4vh;
}
.xiaomi__container-text Button:hover {
  width: 6vw;
}
.huawei-img {
  height: 70vh;
}
.huawei__container-text {
  width: 35vw;
}
.huawei__container-text h1 {
  font-size: 120px;
}
.huawei__container-text h1 span {
  border: 1px solid red;
  background-color: red;
  color: white;
}
.huawei__container-text p {
  font-size: 24px;
  line-height: 1.5;
}

.nok {
  background-color: black;
}
.nokia__img {
  width: 45vw;
  position: relative;
  right: 5.5%;
  transform: rotate(180deg);
}
.nokia__container-text {
  /* border: 1px solid red; */
  width: 30vw;
}
.nokia__container-text h1 {
  /* color: white; */
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, rgb(36, 37, 37));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nokia__container-text h4 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
.nokia__container-text p {
  color: white;
  width: 20vw;
}
