.infinix__container {
  background-color: rgb(14, 13, 13);
  height: 100vh;
  width: 100vw;
}
.infinix__container-header {
  background-color: rgb(34, 34, 34);
  height: 8.5vh;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  color: aliceblue;
  -moz-box-shadow: 30px 3px 3px rgb(90, 86, 86);
  -webkit-box-shadow: 0px 3px 3px rgb(128, 123, 123);
  box-shadow-bottom: 5px rgb(121, 116, 116);
}
.infinix__container-scroll {
  border: 1px solid white;
  background-color: rgb(222, 229, 230);
  width: 90vw;
  height: 87vh;
  margin: 1.5vh auto 0px auto;
  overflow: scroll;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  align-items: center;
}
.infinix__container-products {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 80vh;
  align-items: center;
  margin: 35px 0px 0px 14vh;
  border-radius: 15px;
  padding-top: 20px;
  background-color: rgb(231, 237, 238);
}
.infinix__container-products img {
  border-radius: 15px;
  padding-bottom: 20px;
}
.infinix__container-products p {
  width: 25vw;
  color: rgb(80, 80, 80);
}
.infinix__container-products h2 {
  font-size: 32px;
}
.note12 {
  width: 25vw;
}
.whitebg {
  width: 25vw;
  height: 50vh;
}
